#container{
    font-family: "Roboto";
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

button{
    font-size: 1.5rem;
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    background-color: hsl(219, 79%, 66%);
    color: white;
    font-weight: bold;
    cursor: pointer;

}

button:hover{
    background-color: hsla(219, 79%, 66%, 0.541);
}
input{
    font-size: 2rem;
    width: 150px;
    text-align: center;
    font-weight: bold;

}
#resultadoRolagem{
    margin: 25px;
}
#imagensDado img{
    width: 150px;
    margin: 5px;
}